---
layout: default
---

<div class="container">

  <div>

<!-- This loops through the paginated posts -->
<ul class="posts">
  {% for post in paginator.posts %}
  <li>
      <article class="list-group-element">
	<span class="list-group-element-date">{{ post.date | date: "%b %d, %Y" }}</span>
	<div class="list-group-element-title">
      	    <h1><a href="{{ post.url | prepend: site.cdn }}">{{ post.title | escape }}(
	    	{% for actor_id in post.actor_ids %}
	    		{% assign actor = site.actors[actor_id] %}
	    		{{ actor.name }}
	    	{% endfor %})</a></h1>
        </div>
      </article>
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

  </div>
</div>
