<header class="header">
  <div class="header-overlay">
    <div class="container">



      <div style="clear: both;"></div>

      <!-- Title -->
      <h1 class="header-heading" style="clear: both;">
        <a href="{{ site.github.url }}">
          {{ site.title }}
        </a>
      </h1>

      <!-- Program Description -->
      <div class="header-description">
        {{ site.description }}
      </div>
    </div>

    <div class="container header-heading">

        <div style="float: left" id="subscribe">
            <a href="{{ site.itunes_podcast_url }}" target="_blank" class="square_btn" id="subscribe_btn">無料で定期購読する</a>
    
            <script>
            var subBtn = document.getElementById('subscribe_btn');
    
            var ua = navigator.userAgent.toLowerCase();
            var isAndroid = (ua.indexOf('android') > -1) && (ua.indexOf('mobile') > -1);
            var isAndroidTablet = (ua.indexOf('android') > -1) && (ua.indexOf('mobile') == -1);
             
            if(isAndroid | isAndroidTablet) {
                subBtn.setAttribute("href", "http://subscribeonandroid.com/feeds.feedburner.com/sagonline");
            }
            </script>
        </div>
    
        <div>
        </div>

        <div style="clear: both;">
            <ul id="nav">
               {% for item in site.data.samplelist.docs %}
                  <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
               {% endfor %}
            </ul>
        </div>
    </div>

    </div>
    <div>
  </div>

</header>

