<header class="header">
  <div class="header-overlay">
    <div class="container">
      <div style="clear: both;"></div>

      <!-- Title -->
      <h1 class="header-heading" style="clear: both;">
        {{ site.title }}
      </h1>

      <!-- Program Description -->
      <div class="header-description">
        {{ site.description }}
      </div>
    </div>

    <div class="container">
      <div id="nav">
        {% for item in site.navigators %}
        <span>
          <i class="{{ item.icon }}"></i>
          <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </span>
        {% endfor %}
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div></div>
</header>
