.article {
  &-header {
    margin-bottom: 24px;

    &-note {
      color: $color-text-secondary;
      font-size: 0.9em;
    }
  }

  &-slideshow {
    max-width: 600px;
    height: 400px;
  }

  audio {
    width: 100%;
  }

  &-actors{
    &-actor{
      float: left;
      margin-left: 40px;

      &-name{
        text-align: center;
      }
    }
  }
}
