* {
  box-sizing: border-box;
}

a {
  &,
  &:active,
  &:focus,
  &:hover {
    color: $color-text-hint;
    text-decoration: none;
  }
}

body {
  color: $color-text-primary;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.7;
  word-wrap: break-word;
}

