.card {
  color: $color-text-secondary;
  a {
    color: $color-background-hint;
  }

  border-radius: 2px;
  margin-top: 16px;

  &-body,
  &-header,
  &-footer {
    padding: 10px;
  }

  &-body + &-body,
  &-header + &-body {
    padding-top: 0;
  }

  &-body-large {
    font-size: 0.9rem;
  }

  &-header {
    text-align: center;
  }

  &-heading {
    font-size: 1.2rem;
    color: $color-background-hint;
  }

  &-paragraph {
    & + & {
      margin-top: 0.9em;
    }
  }

  strong {
    font-weight: bold;
  }
}

.card_inner {
  padding: 5px 10px 0px 10px;
}
