.footer {
  margin-top: 16px;

  background-color: $color-backgroud-primary;
  color: $color-text-secondary;
  a {
    color: $color-background-hint;
  }
  font-size: 0.9rem;
  padding-bottom: 0px;
  padding-top: 0px;

  &-copyright {
    text-align: center;
    padding-bottom: 15px;
  }

  &-sections {
    &-element {
      margin-bottom: 24px;

      &-heading {
        font-size: 1.4rem;
      }
    }
  }

  h2 {
    font-size: 1.4rem;
  }
  &-contact, &-feedbuck, &-subscribe{
    float: left;
    width: 320px; 
  }
  &-contact li{
    display: block;
  }
  &-subscribe li{
    display: block;
  }
  #footer-actor{
    text-align: left;
  }
}
