.header {
  background-image: url(../images/header_image.jpg);
  background-size: cover;
  background-position: center;

  &-description {
    color: $color-text-primary;
    font-size: 0.9rem;
  }

  &-heading {
    color: $color-text-primary;
    text-shadow: 0 1px 5px black;
    font-size: 30px;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 0px;
    padding-top: 10px;
  }
}

#nav span {
    background-color: $color-background-hint;
    font-size: 0.9rem;
    float: right;
    margin-left: 5px;
    padding: 0px 3px 0px 3px;
    border-radius: 48% 52% 0% 100% / 100% 0% 100% 0%;
    width: 100px;
    text-align: right;
}
#nav {
    margin-top: 12px;
    color: $color-text-hint;
    position: relative;
    left: 16px;
}