.header {
  background-image: url(../images/header_image.jpg);
  background-size: cover;
  background-position: center;

  &-description {
    color: $color-text-light-secondary;
    font-size: 0.9rem;
  }

  &-heading {
    color: $color-text-light-primary;
    text-shadow: 0 1px 5px black;
    font-size: 2.0rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
