.main {
  background-color: #fff;
  padding-bottom: 0px;
  padding-top: 20px;
}

.list-group-element {
    border-bottom: 1px solid #696969;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 4px;
}

.list-group-element-title {
    width: 100%;
    word-break: break-all;
}
.list-group-element-date {
    float: right;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: -1px;
}

